{% extends 'home.html' %}

{% block title %}
Concerts
{% endblock %}

{% block content %}
    <h2>Concerts</h2>
    <ul>
        {% for concert in concerts %}
            <li>
                <img src="/static./photos/{{new_concert.poster_url}}" alt="Concert Poster">
                <p>{{ concert.description }}</p>
                <p>Date: {{ concert.date }}</p>
                <p>Ticket Price: {{ concert.ticket_price }}</p>
                <p>Location: {{ concert.location }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
