<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tikiti Online</title>
</head>
<body>
    {% block content %}
        <h1>Welcome to Tikiti</h1>
        <nav>
            <a href="{{url_for('auth.login')}}">login</a><br>
            <a href="{{url_for('auth.sign_up')}}">Sign up</a><br>
            <a href="{{url_for('auth.add_concert')}}">Add Concert</a><br>
            <a href="{{url_for('auth.concerts')}}">Concerts</a>
        </nav>
   {% endblock %}

</body>
</html>